.navbar,
.navbar ol
{
	margin-bottom: 1px;
	min-height: 2px;
}
.bold {font-weight: bold;}
.center {text-align: center;}
//---------patient movement head------------------------------
//---------patient movement head------------------------------END