<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/v/lib/css/bootstrap.min.css"></link>
<link rel='stylesheet prefetch' href='/v/lib/css/font-awesome.min.css'/>
<link rel="stylesheet" href="/v/css/hol2eih3.css"></link>
<link rel="stylesheet" href="/v/css/navbar_horizontal_gray.css"/>
<style type="text/css" media="screen">
body {
	padding-top: 10px;
	padding-bottom: 60px;
}
</style>
<title>Хмельницька обласна лікарня</title>
</head>
<body>
<div id="menu-fix-top" class="no-print">
		<ul class="navbar_horizontal_gray">
			<li><a href="/h/list/med-procedure-operation.html"> <i
					class="fa fa-ellipsis-v" aria-hidden="true"></i> кодування процедур
			</a></li>
			<li><a href="/r/lizhkodni.html"> звіти </a></li>
			<li><a href="/r/housing1.html"> корпус №1 </a></li>
		</ul>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<i class="fa fa-home" aria-hidden="true"></i> Хмельницька обласна
				лікарня
			</div>
			<div class="collapse navbar-collapse navbar-right">.</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Електронна історія хвороби</h1>
				<h2>Модуль руху хворих</h2>
				<p>
					<a th:href="@{/moveTodayPatients.html}">Запис</a>
					поступлення/виписки хворих на сьогодні.
				</p>
				<p>
					<a th:href="@{/mvPatientInWeekDay.html}">Рух хворих </a> за останні 7
					днів
				</p>
				<p>
				Змінити рік 
				<a href="/session-year/2015">2015</a>
				|
				<a href="/session-year/2016">2016</a>
				</p>
			</div>
		</div>
	</div>
</body>
<script src="/v/lib/js/jquery-2.2.4.min.js"></script>
<script src="/v/lib/js/bootstrap.min.js"></script>
<script src="/v/lib/js/angular.min.js"></script>
<script src='/v/js/hol2eih3.declare.js'></script>
<script src='/v/js/hol2eih3.controller.js'></script>
<!-- 
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<script src="/js/lib/angular_uk.min.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src='/js/lib/textAngular.min.js'></script>
<script src='/js/lib/textAngular-sanitize.min.js'></script>
<script src='/js/lib/textAngular-rangy.min.js'></script>
<script src='/js/hol2eih3.declare.js'></script>
<script src='/js/hol2eih3.controller.js'></script>
 -->
</html>