<!DOCTYPE html>
<html ng-app="hol2eih3App" ng-controller="F20t3600Ctrl" ng-cloak class="ng-cloak">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/v/lib/css/w3.css"></link>
<link rel="stylesheet" href="/v/lib/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/v/lib/css/bootstrap-datepicker3.min.css"></link>
<link rel='stylesheet prefetch' href='/v/lib/css/font-awesome.min.css' />
<link rel="stylesheet" href="/v/css/hol2eih3.css"></link>
<link rel="stylesheet" href="/v/css/lizhkodni.css"></link>
<link rel="stylesheet" href="/v/css/navbar_horizontal_gray.css" />
<link rel="stylesheet" href="/v/css/ui.css" />

<title>Ф20-т3600 {{minMonth}}-{{maxMonth}}/{{paramYear}}</title>

</head>
<body>
	<div id="menu-fix-top" class="no-print"
		ng-include="'ui/menu-fix-hol-zwit.html'"></div>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
				/
				<a href="forma20.html">
				Форма.20
				</a>
				/
				таблиця.3600
			</div>
			<div class="collapse navbar-collapse navbar-right">.</div>
		</div>
	</nav>
	<div class="container-fluid">
	<div 
		ng-include="'ui/zwit-param-period-and-link.html'"></div>
		Таблиця 3600 — {{minMonth}}-{{maxMonth}}/{{paramYear}}
		<h1>Термінова хірургічна допомога хворим, які вибули зі
			стаціонару за звітний період</h1>
		<div ng-if="param.nrr">
			<a
				href="?m1={{param.m1}}&m2={{param.m2}}&y={{param.y}}&type={{param.type}}">Показати
				всю таблицю </a>
			<table class="table table-striped">
				<caption>
					<span class="pull-right" style="font-size: small;">
						{{f20t3600Head[0].old_0_17_full}}</span>
				</caption>
				<thead ng-include="'ui/f20t3600tHead.html'"></thead>
				<tbody
					ng-init="
		nrr_all = param.nrr%2==1?param.nrr:param.nrr*1-1;
		nrr_24 = param.nrr%2==0?param.nrr:param.nrr*1+1;
		h = f20t3600Head[nrr_24/2];
	"
					ng-include="'ui/t3600-tbody.html'">
				</tbody>
				<tr>
					<th colspan="11">Пацієнти</th>
				</tr>
				<tr ng-repeat="h in f20t3600NrrPatienten.list">
					<td colspan="3">{{$index+1}}. {{h.patient_surname}},
						{{h.patient_name}} {{h.patient_patronnymic}},
						{{h.patient_gender?'Ч':'Ж'}}, {{h.patient_dob}}, <b
						title="{{h.icd_name}}"> {{h.icd_code}} </b> ІХ-№-{{h.history_no}}
						(<small> {{h.history_id}} </small> ), вип.-{{h.history_out |
						date}}
						<div>{{h.history_diagnos_additional}}</div>
					</td>
					<td>{{h.op_no_1}}</td>
					<td>{{h.op_no_17_2}}</td>
					<td>{{h.dead_op_no_3}}</td>
					<td>{{h.dead_op_no_17_4}}</td>
					<td>{{h.op_yes_5}}</td>
					<td>{{h.op_yes_17_6}}</td>
					<td>{{h.dead_op_yes_7}}</td>
					<td>{{h.dead_op_yes_17_8}}</td>
				</tr>
			</table>
		</div>
		<div ng-if="!param.nrr">
			<table class="table table-striped">
				<caption>
					<span class="pull-right" style="font-size: small;">
						{{f20t3600Head[0].old_0_17_full}}</span>
				</caption>
				<thead ng-include="'ui/f20t3600tHead.html'"></thead>
				<tbody ng-repeat="h in f20t3600Head" ng-if="$index > 0"
					ng-init="
			nrr_all = $index * 2 - 1;
			nrr_24 = $index * 2;
			"
					ng-include="'ui/t3600-tbody.html'">
				</tbody>
			</table>
		</div>

	</div>
</body>
<script src="/v/lib/js/jquery-2.2.4.min.js"></script>
<script src="/v/lib/js/bootstrap.min.js"></script>
<script src="/v/lib/js/angular.min.js"></script>
<script src="/v/lib/js/angular-locale_uk.js"></script>
<script src="/v/lib/js/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script src="/v/lib/js/bootstrap-datepicker.min.js"></script>
<script src='/v/lib/js/textAngular.min.js'></script>
<script src='/v/lib/js/textAngular-sanitize.min.js'></script>
<script src='/v/lib/js/textAngular-rangy.min.js'></script>
<script src='/v/js/hol2eih3.declare.js'></script>
<script src='/v/js/hol2eih3.controller.js'></script>

</html>