<!DOCTYPE html>
<html ng-app="hol2eih3App"
	ng-controller="DepartmentMonthMovementMySqlCtrl" ng-cloak
	class="ng-cloak">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/v/lib/css/w3.css"></link>
<link rel="stylesheet" href="/v/lib/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/v/lib/css/bootstrap-datepicker3.min.css"></link>
<link rel='stylesheet prefetch' href='/v/lib/css/font-awesome.min.css'/>
<link rel="stylesheet" href="/v/css/hol2eih3.css"></link>
<link rel="stylesheet" href="/v/css/lizhkodni.css"></link>
<link rel="stylesheet" href="/v/css/navbar_horizontal_gray.css"/>
<link rel="stylesheet" href="/v/css/ui.css"/>

<title>Ліжкодні</title>
</head>
<body>
<div id="menu-fix-top" class="no-print">
		<ul class="navbar_horizontal_gray">
			<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>
					Хмельницька обласна лікарня </a></li>
			<li><a href="/h/list/med-procedure-operation.html"> <i
					class="fa fa-ellipsis-v" aria-hidden="true"></i> кодування процедур
			</a></li>
		</ul>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
				Ліжкодні за місяць
			</div>
			<div class="collapse navbar-collapse navbar-right">.</div>
		</div>
	</nav>
<div class="container-fluid">
	<table class="table-bordered no-print">
			<tr class="center">
			<!-- 
				<td>Вибрати <label> <input type="radio"
						name="eqMonthType" value="month" ng-model="eqMonthType" /> місяць
				</label>, <label> <input type="radio" name="eqMonthType"
						value="period" ng-model="eqMonthType" /> період
				</label></td>
				<td ng-class="isWaleMonth(n) ? 'wale' : '' "
					ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]"
					ng-click="setMonth(n)"><a href="#">
						{{n>9?'':'&nbsp;'}}{{n}} </a></td>
				<td class="btn btn-sm btn-info" ng-click="eqMonth()">Виконати
					запит</td>
				<td ng-if="param.department_id > 0"><a
					href="/r/lizhkodni.html?m1={{minMonth}}&m2={{maxMonth}}&type={{eqMonthType}}">
						Показати всі відділення </a></td>
				<td>| |</td>
			 -->
				<td ng-if="param.department_id > 0"><a
					href="/r/icd10.html?m1={{minMonth}}&m2={{maxMonth}}&type={{eqMonthType}}&department_id={{param.department_id}}">
						МКХ10 </a></td>
				<td ng-if="param.department_id > 0"><a
					href="/r/adress.html?m1={{minMonth}}&m2={{maxMonth}}&type={{eqMonthType}}&department_id={{param.department_id}}">
						по районах </a></td>
				<td>| |</td>
				<td ng-if="param.department_id > 0"><a
					href="/r/motion.html?m1={{minMonth}}&m2={{maxMonth}}&type={{eqMonthType}}&department_id={{param.department_id}}">Журнал
						руху хворих</a></td>
				<td><a
					href="/r/general.html?department_id=1&m1=6&m2=6&type=month#">
						Загальний звіт </a></td>
				<td><a
					href="/r/forma20.html">
						Форма.20 </a></td>
				<td>| |</td>
				<td><a href="/r/validateDb.html"> Перевірка правильності
						(валідності) даних </a></td>
			</tr>
		</table>

<div ng-include="'ui/zwit-param-period-and-link.html'"></div>

	<div ng-if="param.department_id > 0">
			<table class="table table-bordered">
				<caption>
					<h4>
						Ліжкодні Відділення <b> {{bedDayOfMonthMySql.department_name}}
						</b> <span ng-if="bedDay.m1 == bedDay.m2"> за
							{{months.nominative[bedDay.m1]}} місяць </span> <span
							ng-if="bedDay.m1 != bedDay.m2"> з
							{{months.accusative[bedDay.m1]}} — по
							{{months.nominative[bedDay.m2]}} місяці</span> 
							{{param.y}}
							<!-- 
							{{yyyy}} 
							 -->
							року. <small>
							Хмельницька обласна лікарня </small>
					</h4>
				</caption>
				<thead>
					<tr>
						<th>Показник
						</th>
						<th ng-if="mmArray.length > 1" ng-repeat="m in mmArray">{{months.nominative[m]}}</th>
						<th ng-if="mmArray.length == 1">Значення</th>
						<th ng-if="mmArray.length > 1">За {{mmArray.length}} місяця</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="h in bedDayHead" ng-if="$index > 0">
						<td title="{{h.title}}">{{h.name}}
						</td>
						<td ng-repeat="bedDayDepartment in bedDayOfMonthMySql.bedDayDepartmentMySql">
							{{bedDayDepartment[h.key]}}
							</td>
						<td ng-repeat="m in mmNewArray">?</td>
						<td>{{bedDayOfMonthMySql[h.key]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="!(param.department_id > 0)">
			<table class="table-bordered">
				<caption>
					<h4>
						Ліжкодні <span ng-if="bedDay.m1 == bedDay.m2"> за
							{{bedDay.m1}} місяць </span> <span ng-if="bedDay.m1 != bedDay.m2">
							<!-- 
							з 1 по 12 місяці</span> 2015 року
							 -->
							з {{bedDay.m1}} по {{bedDay.m2}} місяці</span>
							{{paramYear}}
							  року
					</h4>
				</caption>
				<thead>
					<tr>
						<th ng-repeat="bedDayH in bedDayHead" title="{{bedDayH.title}}">{{bedDayH.name}}</th>
					</tr>
					<tr class="center">
						<th ng-repeat="n in bedDayHead">{{$index + 1}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bedDayOfMonthMySql in bedDay.bedDayOfMonthMySql">
						<td><a
							href="?department_id={{bedDayOfMonthMySql.dp_id}}&m1={{minMonth}}&m2={{maxMonth}}&type={{eqMonthType}}">
								{{bedDayOfMonthMySql.department_name}}</a>
								</td>
						<td ng-repeat="bedDayH in bedDayHead" ng-if="$index>0">
							<span ng-if="!((bedDayH.key=='bed_day_plan' || bedDayH.key=='bed_day_fulfil') && bedDayOfMonthMySql.dp_id==22)">
								{{bedDayOfMonthMySql[bedDayH.key]==0?'':bedDayOfMonthMySql[bedDayH.key]}}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
<script src="/v/lib/js/jquery-2.2.4.min.js"></script>
<script src="/v/lib/js/bootstrap.min.js"></script>
<script src="/v/lib/js/angular.min.js"></script>
<script src="/v/lib/js/angular-locale_uk.js"></script>
<script src="/v/lib/js/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script src="/v/lib/js/bootstrap-datepicker.min.js"></script>
<script src='/v/lib/js/textAngular.min.js'></script>
<script src='/v/lib/js/textAngular-sanitize.min.js'></script>
<script src='/v/lib/js/textAngular-rangy.min.js'></script>
<script src='/v/js/hol2eih3.declare.js'></script>
<script src='/v/js/hol2eih3.controller.js'></script>
<!-- 
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<script src="/js/lib/angular_uk.min.js"></script>

<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-cookies.min.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src='/js/lib/textAngular.min.js'></script>
<script src='/js/lib/textAngular-sanitize.min.js'></script>
<script src='/js/lib/textAngular-rangy.min.js'></script>
<script src='/js/lib/moment-with-locales.min.js'></script>

<script src='/js/hol2eih3.declare.js'></script>
<script src='/js/hol2eih3.controller.js'></script>
 -->

</html>
