@media print {
	a[href]:after {
		content: none;
	}
	.no-print, .no-print * {
		display: none !important;
	}
}

table.column td{
	vertical-align: top;
}

.navbar, .navbar ol {
	margin-bottom: 1px;
	min-height: 2px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.procedure-group {
	font-size: 75%;
	font-weight: oblique;
	text-decoration: underline;
}

