div.editor-eix2 textarea{
	width: 100%;
}

.editor-head{
	margin-top: 0;
	margin-bottom: 1px;
}
.vertical-line {
	border-left: thick solid #4CAF50;
}
.selected-to-save{
/*
	background-color: green;
*/
	background-color: #4CAF50;
	color: #ffffff;
}

.yellow-button:hover,
div.code-item > .code:hover,
ul.code-item li > span:hover{
	background-color: yellow;
	color: black;
}
.navcontainer > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

.navcontainer > ul > li {
	display: inline;
	padding: 4px 8px;
}
.navcontainer > ul > li a {
	text-decoration: none;
	color: #666;
}
.navcontainer > ul > li a:hover {
	background-color: #ddd;
}

.tooltip2 {
	display: inline-block;
}
.tooltip2 .tooltiptext {
	visibility: hidden;
	position: absolute;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}
.tooltip2 .tooltiptext2 {
	visibility: hidden;
	position: absolute;
	height: 400px;
	overflow: scroll;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}
.tooltip2 .tooltiptext3 {
	visibility: hidden;
	position: absolute;
	height: 300px;
	overflow: scroll;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}
.scroll-large{
	height: 500px;
	overflow: scroll;
}
.tooltip2:hover .tooltiptext3,
.tooltip2:hover .tooltiptext2,
.tooltip2:hover .tooltiptext {
	visibility: visible;
}
